{% block body%}
<link rel="stylesheet" href="../static/styles/index.css">
<body>
    <header>
        <h1>Create Account</h1>
    </header>
    <main>
       <div class="overlay">
  <form id="register_form" class="form_class" action="/add_account" method="post">
    <div class="form_div">
      <label for="username">Username:</label>
      <input class="field_class" id="username" type="text" name="username" placeholder="Username" autofocus>
      <label for="password">Password:</label>
      <input id="password" class="field_class" name="password" type="password" placeholder="Password">
      <label for="email">Email:</label>
      <input id="email" class="field_class" name="email" type="email" placeholder="Email">
      <label for="first-name">First Name:</label>
      <input id="first-name" class="field_class" name="first_name" type="text" placeholder="First Name">
      <label for="last-name">Last Name:</label>
      <input id="last-name" class="field_class" name="last_name" type="text" placeholder="Last Name">
      <input type="hidden" id="type" name="type" value="customer">
      <button class="submit_class" type="submit" form="register_form">Create</button>
    </div>
    <div class="info_div">
      <form action="/">
        <button type="submit">Cancel</button>
      </form>
    </div>
  </form>
</div>

    </main>
    <footer>
        <p>Official Riley Is Great Ecommerce Network<a href="#"><3</a></p>
    </footer>
</body>
{% endblock %}